<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

</head>

<body>

   <%- include('../partials/dashboardHeader') %>
    <%- include('../partials/dashboardNav') %>

    <main id="main" class="main">

      <div class="pagetitle">
        <h1>Profiel</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item">Gebruiker</li>
            <li class="breadcrumb-item">Profiel</li>
            <li class="breadcrumb-item active">
              <%= profile.name %>
            </li>
          </ol>
        </nav>
      </div>

      <section class="section profile">
     

        <div class="col-xl-8">

          <div class="card shadow-sm">
            <div class="card-body pt-3">
              <h5 class="card-title mb-3">Profiel</h5>
              <div class="row mb-2">
                <div class="col-lg-3 col-md-4 label fw-bold text-end">Volledige Naam:</div>
                <div class="col-lg-9 col-md-8">
                  <%= profile.name %>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-lg-3 col-md-4 label fw-bold text-end">Role:</div>
                <div class="col-lg-9 col-md-8">
                  <%= profile.roleHeight %>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-lg-3 col-md-4 label fw-bold text-end">GebruikersId:</div>
                <div class="col-lg-9 col-md-8">
                  <%= profile.id %>
                </div>
              </div>
            </div>
          </div>


        </div>
        </div>

        </div>
        </div>
      </section>

    </main>



    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>


</body>

</html>