<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Gebruiker Verwijderen - WijnUitErica</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

  <link href="/css/style.css" rel="stylesheet">

</head>

<body>

  <%- include('../../partials/dashboardHeader') %>
  <%- include('../../partials/dashboardNav') %>


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Verwijder Gebruiker</h1>
      <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item ">Gebruikers</li>
          <li class="breadcrumb-item active">Verwijder</li>
        </ol>
      </nav>
    </div>

    <section class="section dashboard">
      <div class="row">

        <div class="col-lg-8">
          <div class="row">

            <div class="col-xxl-20 col-md-20">
              <div class="card">
                <div class="card-body">
                    <br>
                    <form action="/dashboard/delete-user" method="POST">
                        <div>
                            <label for="userSelect" class="form-label">Selecteer Gebruiker:</label>
                            <select id="userSelect" name="id" class="form-control" required>
                                <option value="">Selecteer een gebruiker</option>
                                <% users.forEach(function(user) { %>
                                    <option value="<%= user.id %>" data-user='<%= JSON.stringify(user) %>'>
                                        <%= user.name %> (ID: <%= user.id %>)
                                    </option>
                                <% }); %>
                            </select>
                        </div>
                        <br>
                            <button type="submit" class="btn btn-danger" id="bijwerken">Verwijderen</button>
                      <br>
                      <br>
                        <a href="/dashboard"  class="btn btn-primary">Terug naar dashboard</a> 
                      </form>
                    <br>
                </div>
                </div>
              </div>
              </div>
            </div>

          </div>
        </div>

      

      </div>
    </section>

  </main>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



</body>

</html>